.masonryGrid {
  display: flex;
  margin-left: calc(-1 * var(--static-space-16));
  width: 100%;
}

.masonryGridColumn {
  padding-left: var(--static-space-16);
  background-clip: padding-box;
}

.gridItemContainer {
  position: relative;
}

.gridItem {
  margin-bottom: var(--static-space-16);
  border-radius: var(--radius-m);
  cursor: pointer;
}

.details {
    visibility: hidden;
    opacity: 0;
}

.trigger {
    &:hover {
        .details {
            visibility: visible;
            opacity: 1;
        }
    }
}
