NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
## Random string, can be generated using `openssl rand -hex 16` or similar.
## Used to secure the revalidation endpoint.
SANITY_REVALIDATE_SECRET=